* {
    margin: 0;
    padding: 0;
}

.image img {
    width: 122px;
    height: 100px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.2);
    height: 5rem;
    border-radius: 2.5rem;
   background-image:conic-gradient(#ff4545,#006aff);
    width: 85rem;
    margin-left: 4rem;
    margin-right: ;
    
}





.elements {
    display: flex;
    gap: 20px;
}

.elements p {
    text-transform: uppercase;
}

.image2 img {
    width: 284px;
    height: 210px;
}

.restaurantname {
    text-transform: uppercase;
}
.CardContainer {
    display: flex;
    justify-content: center;
    position: relative;
}
.Card-Container {
    background-color: black;
    color: white;
    width: 284px;
    height: 320px;
    border: 1px solid black;
    margin: 20px; /* Adjusted margin for better spacing */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.Card-Container:hover {
    transform: scale(1.1);
}

.item, .offer, .time {
    color: white;
}

.side {
    display: flex;
    flex-direction: column;
}

.bar {
    height: 55px;
    width: 326px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}

#bob {
    width: 30px;
    height: 54px;
}



.const {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.shimmer-display{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shimmer {
    width: 284px; 
    height: 320px;
    background-color: rgb(90, 92, 90);
    margin: 20px; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    animation: shimmer 0.5s infinite;
}

@keyframes shimmer {
    0% {
        background-position: -284px 0;
    }
    100% {
        background-position: 284px 0;
    }
}
.round_image img{
    height: 10%;
    width:10%;
    cursor: pointer;
    transition: transform 0.3s ease;
    
}

.side-heading{
    padding-left: 560px;
}
.search-bar{
    padding-left: 550px;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 30px;
    border: 3px solid red;
}
 .card-colourglow::after,.card-colourglow::before{
    content: '';
    width: 270px; 
    height: 270px;
    background-image: conic-gradient(#ff4545,#00ff99,#006aff,#ff0095,#ff4545);
    position: absolute;
     z-index: -1;   
    padding-top: 10px; 
    padding-bottom: 50px; 
    margin-left: -4px;
    margin-top: -5px;
    padding-right: 20px;
    

} 
.card-colourglow::before{
    filter:blur(0.8rem)
}




.btn-12{
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 0px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .btn-12 span {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-transform: uppercase;
  }
  .btn-12 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  .btn-16 {
    border: none;
    color: #000;
  }
  .btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-16:hover {
    color: #000;
  }
  .btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn-16:active {
    top: 2px;
  }